:root {

    --text-white: #FFF;
    --text-light: #DCDCDC;
    --text-dark: #B8B8B8;
    --text-darker: #505050;

    --highlight-blue: #007BFF;
    --highlight-purple: #7E57C2;
    --highlight-red: #f44336;
    --highlight-orange: #F59A52;
    --highlight-yellow: #FFCA28;
    --highlight-green: #4caf50;

    --bg-light: #3C3C3C;
    --bg-dark: #2D2D2D;
}

body {
    background-color: var(--bg-dark);
}

.panel {
    width: 50rem;
}

#borough-dropdown-menu {
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

#income-line {
    stroke: var(--highlight-blue);
    stroke-width: 5;
    fill: none;
}

.dot {
    fill: var(--highlight-blue);
    stroke: var(--bg-light);
    stroke-width: 3;
}

.bubble {
    stroke: black;
    stroke-width: 1;
}

.bubble-chart-background {
    fill: var(--bg-light);
    opacity: 0.75;

}

.inner {
    fill: var(--highlight-yellow);
}

.outer {
    fill: var(--highlight-orange);
}

.axis {
    color: var(--text-dark);
}

.line-grid {
    color: var(--text-darker);
}

.bubble-grid {
    color: var(--highlight-blue);
    opacity: 0.75;
}

.white-text {
    color: var(--text-white);
}

.light-text {
    color: var(--text-light);
}

.dark-text {
    color: var(--text-dark);
}

.light-background {
    background-color: var(--bg-light);
}

.dark-background {
    background-color: var(--bg-dark);
}
