:root {

    --text-white: #FFF;
    --text-light: #DCDCDC;
    --text-dark: #B8B8B8;
    --text-darker: #505050;

    --highlight-purple: #B25AED;
    --highlight-yellow: #EDC25F;
    --highlight-blue: #558AED;
    --highlight-candy: #ED4556;
    --highlight-teal: #07EDB0;

    --bg-light: #3C3C3C;
    --bg-dark: #2D2D2D;
}

body {
    background-color: var(--bg-dark);
}

.panel {
    width: 50rem;
}

#boroughDropdownMenu {
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

#salary-line {
    stroke: var(--highlight-blue);
    stroke-width: 4;
    fill: none;
}

.dot {
    fill: var(--highlight-blue);
    stroke: var(--bg-light);
    stroke-width: 2;
}

.axis {
    color: var(--text-dark);
}

.grid {
    color: var(--text-darker);
}

.white-text {
    color: var(--text-white);
}

.light-text {
    color: var(--text-light);
}

.dark-text {
    color: var(--text-dark);
}

.light-background {
    background-color: var(--bg-light);
}

.dark-background {
    background-color: var(--bg-dark);
}
